.form-terms {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  max-width: 200px;
  margin: 0 auto;
  &__link {
    color: var(--color-primary-dark);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
